/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 25px;
}


.navbar-item {
    font-weight: bold;
}

.button {
    margin-right: 25px;
}
